*,
*::before,
*::after{
  content: none;
}

:root{
  --primary-800: hsl(144, 42%, 35%);
  --primary-700: hsl(144, 42%, 45%);
  --primary-600: hsl(144, 42%, 55%);
  --primary-500: hsl(144, 42%, 65%);
  --primary-400: hsl(144, 42%, 75%);
  --primary-300: hsl(144, 42%, 85%);
  --secondary-500: hsl(106, 100%, 87%);
  --neutral-900: hsl(0, 0%, 10%);
  --neutral-800: hsl(0, 0%, 20%);
  --neutral-700: hsl(0, 0%, 30%);
  --neutral-600: hsl(0, 0%, 40%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-400: hsl(0, 0%, 60%);
  --neutral-300: hsl(0, 0%, 70%);
  --neutral-200: hsl(0, 0%, 80%);
  --neutral-100: hsl(0, 0%, 90%);
}

html,
body{
  margin: 0; 
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 300ms;
  scroll-behavior: smooth;
}

figure,
figcaption,
ul,
li{
  padding: 0;
  margin: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  color: var(--neutral-900);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
button{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--neutral-900);
  border-radius: 4px;
  border: none;
}
input{
  border-radius: 4px;
  margin: 0;
  border: none;
  padding: 2px 4px;
}
input:focus{
  outline: none;
}
/* Start */

/* navbar */
.navbar-container{
  position: relative;
  z-index: 1;
  background-color: var(--neutral-800);
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  padding: .8rem 0;
}
.navbar > li{
  display: flex;
}
.navbar a{
  color: var(--neutral-100);
}
.navbar-cics-logo,
.navbar-msc-logo{
  line-height: 0;
}
.navbar-cics-logo > img,
.navbar-msc-logo > img{
  width: auto;
  height: 2.8rem;
}
#menu-button{
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
/* menu */
.menu-container{
  height: 100vh;
  width: 20vw;
  background-color: var(--primary-400);
  position: fixed;
  top: 0px;
  right: -30rem;
  z-index: 3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transition: 300ms;
  overflow: scroll;
}
.menu-container.active{
  right: 0;
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--neutral-700);
}
.tips{
  margin-bottom: 50px;
}
.menu li{
  display: flex;
}
.menu a{
  font-size: 1.8rem;
  font-weight: 700;
}
.menu a:hover{
  text-decoration: underline;
}
.background-cover.active{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--neutral-700);
  opacity: 50%;
  position: fixed;
  top: 0;
  z-index: 2;
}
#close-button{
  display: flex;
  align-self:flex-end;
  margin-bottom: .8rem;
  cursor: pointer;
}
#body.inactive{
  overflow: hidden;
}

/* Hero */
.hero{
  width: 100%;
  height: auto;
  background-color: var(--neutral-100);
  
  display: flex;
}

.hero-buttons{
  display: flex;
}

.show-events-button{
  background-color: var(--neutral-700);
  padding: .4rem .8rem;
  display: flex;
  justify-content: center;
  border-radius: .2rem;
}
.show-events-button a{
  color: var(--neutral-100);
}

.show-calendar-button{
  padding: .4rem .8rem;
  display: flex;
  justify-content: center;
}

.event-info{
  width: 40%;
  height: 44rem;
  background-image: linear-gradient(var(--primary-500), var(--secondary-500));

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 4rem;
}
.event-info > h1{
  margin-top: 2rem;
  font-size: 4rem;
  line-height: 100%;
}
.event-info > h2{
  margin-top: 1.4rem;
}
.event-info p{
  margin-top: .8rem;
}

.event-images{
  width: 60%;
  height: 44rem;
  background-color: var(--neutral-100);
}
#hero-event-image{
  background-color: var(--primary-500);
  width: 100%;
  height: 100%;
}

.hero-intro-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0rem;
  background-color: var(--neutral-100);
}

.hero-intro-content-title{
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}
.hero-intro-content p{
  text-align: justify;
  width: 80%;
  font-size: 19px;
  margin-bottom: 20px;
  
}
.hero-intro-content a{
  color: var(--neutral-900);
  font-weight: 700;
}

/* news and announcements */
.faculty-title,
.cicsso-officers-title,
.events-title,
.news-and-announcement-title{
  font-size: 4rem;
  padding: 2rem 4rem 2rem 4rem;
}

.news-and-announcement-container{
  padding-bottom: 4rem;
}
.content-container{
  display: flex;
}
.news-field{
  margin: 0rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
}
.news{
  background-color: var(--neutral-100);
  width: 100%;
  padding-bottom: 1rem;
  border-left: 8px solid var(--primary-500);
  border-radius: 4px;
}
.news p{
  padding: 1rem;
}
.news-field-title{
  color: var(--neutral-700);
  font-size: 1.8rem;
  padding: 1rem 1rem 0rem 1rem;
}
.announcement-field-title{
  margin-bottom: .8rem;
  color: var(--neutral-700);
  font-size: 1.8rem;
}
.news-field a{
 color: var(--neutral-900);
 font-weight: 700;
 padding: 1rem;
}
.announcement-field p{
  margin-bottom: 20px;
  font-size: 16px;
}
.announcement-field{
  margin: 0rem 4rem 0 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-500);
}

/* events */
.events-container{
  background-color: var(--neutral-100);
  padding-bottom: 4rem;
}
.clientEvents{
  display: flex;
  gap: 2rem;
  padding: 0rem 4rem;
}
.event-card{
  height: 32rem;
  width: 28rem;
  background-image: url(/main_page/assets/img/402650413_767803438697506_5375373139063542753_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .8rem;
}

.event-card-background-filter{
  border-radius: .8rem;
  background-image:linear-gradient(200deg, transparent, hsl(144, 42%, 35%) 75%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
}

.event-card-title{
  font-size: 2.8rem;
  margin: 0rem 1.8rem;
  color: white;
  cursor: pointer;
  width: fit-content;
}
.event-card-title:hover{
  color: var(--neutral-300);
}
.event-card-title.Ongoing::after{
  content: "•";
  margin: 0 .8rem;
  font-weight: 900;
  color: rgb(255, 191, 0);
}
.event-card-title.Postponed::after{
  content: "•";
  margin: 0 .8rem;
  font-weight: 900;
  color: rgb(255, 0, 0);
}
.event-card-title.Done::after{
  content: "•";
  margin: 0 .8rem;
  font-weight: 900;
  color: rgb(13, 255, 0);
}
.event-card-title.Upcoming::after{
  content: "•";
  margin: 0 .8rem;
  font-weight: 900;
  color: rgb(0, 47, 255);
}
.event-card-info{
  margin: 0rem 1.8rem;
  padding-bottom: 1.8rem;
  color: white;
}

.event-card-list li{
  display: flex;
}

.event-card-date{
  margin: 0rem 1.8rem;
  padding-right: 8rem;
  margin-bottom: .4rem;
  color: white;
  display: flex;
  justify-content: space-between;
}
.event-card-participants{
  padding-bottom: .8rem;
  margin: 0rem 1.8rem;
  color: white;
}

/* carousel */
.clientEvents{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: hidden;
}
#next-slide,
#prev-slide{
  position: absolute;
  z-index: 2;
  display: flex;
  align-self: center;
  align-items: center;
  background-color: hsla(0, 0%, 10%, 0.517);
  color: var(--neutral-100);
  border: none;
  height: 4rem;
  width: 2rem;
}
#next-slide{
  right: 1.8rem;
}
#prev-slide{
  left: 1.8rem;
}


/*officers*/
.pres{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}
.pres img{
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.officers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  gap: 30px 0px;
}
.officer-prof{
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.officer-prof img{
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.officer-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin-top: 20px;
}

/* faculty */

.faculty{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  gap: 30px 0px;
}
.faculty-container{
  background-color: var(--neutral-100);
}
.faculty-prof{
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.faculty-prof img{
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.faculty-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin-top: 20px;
}

/* footer */
.footer-container{
  height: fit-content;
  width: 100%;
 
}
.footer-title{
  font-size: 3.5rem;
  color: white;
  
}
.wave{
  position: relative;
}
.wave img{
  height: 700px;
  width: 100%;
  background-color: var(--neutral-100);
}
.footer-text-field{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: end;
  padding: 4rem 0rem;
  top: 360px;
  margin-left: -100px;
  
}
.footer-text input{
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.social img{
  margin-top: 3px;
  width: 50px;
  height: auto;
  background: none;
  margin-left: -110px;
  
}

.footer-flex{
  display: flex;
  flex-direction: row;
  gap: 9rem;
  margin-bottom: 50px;

}

.vis-mis {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: -170px;
  margin-left: 4rem;
}
.vis-mis p{
  color: white;
}
.vis-mis h2{
  color: white;
}

.footer-text button{
  width: 70px;
  height: 35px;
  background-color: var(--primary-400);
  border: none;
}

/*responsive*/

@media screen and (max-width: 768px){

  .hero-intro-content-title {
    font-size: 1.8rem;
  }
  .event-info h1 {
    font-size: 2rem;
  }

  .news-field-title {
    font-size: 1.2rem;
  }

  .news p {
    font-size: .8rem;
  }

  .faculty-title,
  .cicsso-officers-title,
  .events-title,
  .news-and-announcement-title{
  font-size: 3rem;
  }

  .footer-container{
    width: 100%;
    background-color: black;
  }
  .footer-title{
    font-size: 2rem;
    color: white;
    margin-top: -130px;
    margin-right: 170px;
  }

  .wave{
    position: relative;
    display: block;
  }
  .wave img{
    height: 600px;
    width: 100%;
    background-color: var(--neutral-100);
    display: block;
  }
  .footer-text-field{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    top: 360px;
    margin-left: -25px;
  }

  .footer-text {
    margin-top: 150px;
    margin-right: 80px;
  }

  .footer-text input{
    width: 150px;
    height: 20px;
    margin-top: 60px;
  }

  .social {
    justify-content: center;
  }
  .social img{
    width: 50px;
    height: auto;
    background: none;
    margin-top: 250px;
    margin-left: -400px;
  }
  
  .footer-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .vis-mis {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: -290px;
    margin-top: 15px;
  }
  .vis-mis p{
    color: white;
    font-size: 12px;
  }
  .vis-mis h2{
    color: white;
    font-size: 20px;
  }
  .footer-text button{
    width: 70px;
    height: 20px;
    background-color: var(--primary-400);
    border: none;
  }
}

@media screen and (max-width: 480px){
  .hero {
    flex-direction: column-reverse;
  }
  .event-info{
    width: auto;
    height: 20rem;
    padding-left: 1rem;
  }
  .event-info > h1{
    margin-top: 2rem;
    font-size: 2.2rem;
    line-height: 100%;
  }
  .event-info > h2{
    margin-top: 1.4rem;
    font-size: 1.2rem;
  }
  .event-info p{
    margin-top: .8rem;
  }
  .event-images{
    width: 100%;
    height: 20rem;
  }
  .hero-intro-content-title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .hero-intro-content p{
    text-align: justify;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .faculty-title,
  .cicsso-officers-title,
  .events-title,
  .news-and-announcement-title{
  font-size: 2rem;
  padding: 2rem 2rem;
  }
  .content-container{
    flex-direction: column;
  }
  .news p {
    font-size: 1rem;
  }
  .news-field {
    margin: 0 2rem;
  }
  .news-field-title {
    font-size: 1.2rem;
  }

  .announcement-field-title{
    margin-bottom: .8rem;
    color: var(--neutral-700);
    font-size: 1.2rem;
  }
  
  .announcement-field p{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .announcement-field{
    border-radius: 10px;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-500);
  }

  .footer-container{
    width: 100%;
    background-color: black;
  }
  .footer-title{
    font-size: 2rem;
    color: white;
    margin-top: -130px;
    margin-right: 40px;
  }

  .wave{
    position: relative;
    display: block;
  }
  .wave img{
    height: 600px;
    width: 100%;
    background-color: var(--neutral-100);
    display: block;
  }
  .footer-text-field{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    top: 360px;
    margin-left: -25px;
  }

  .footer-text {
    margin-top: 150px;
    margin-right: 80px;
  }

  .footer-text input{
    width: 150px;
    height: 20px;
    margin-top: 80px;
  }

  .social {
    justify-content: center;
  }
  .social img{
    width: 30px;
    height: auto;
    background: none;
    margin-top: 270px;
    margin-left: -240px;
  }
  
  .footer-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .vis-mis {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: -290px;
    margin-top: 15px;
  }
  .vis-mis p{
    color: white;
    font-size: 10px;
  }
  .vis-mis h2{
    color: white;
    font-size: 20px;
  }
  .footer-text button{
    width: 70px;
    height: 20px;
    background-color: var(--primary-400);
    border: none;
  }

  .menu-container{
    width: 30vw;
    padding: 1rem;
  }
  .menu{
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--neutral-700);
  }
  .menu a{
    font-size: 12px;
    font-weight: 700;
  }
}

@media screen and (max-width: 366px){
  .hero {
    flex-direction: column-reverse;
  }
  .event-info{
    width: auto;
    height: 20rem;
    padding-left: 1rem;
  }
  .event-info > h1{
    margin-top: 2rem;
    font-size: 2.2rem;
    line-height: 100%;
  }
  .event-info > h2{
    margin-top: 1.4rem;
    font-size: 1.2rem;
  }
  .event-info p{
    margin-top: .8rem;
  }
  .event-images{
    width: 100%;
    height: 20rem;
  }
  .hero-intro-content-title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .hero-intro-content p{
    text-align: justify;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .faculty-title,
  .cicsso-officers-title,
  .events-title,
  .news-and-announcement-title{
  font-size: 2rem;
  padding: 2rem 2rem;
  }
  .content-container{
    flex-direction: column;
  }
  .news p {
    font-size: 1rem;
  }
  .news-field {
    margin: 0 2rem;
  }
  .news-field-title {
    font-size: 1.2rem;
  }

  .announcement-field-title{
    margin-bottom: .8rem;
    color: var(--neutral-700);
    font-size: 1.2rem;
  }
  
  .announcement-field p{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .announcement-field{
    border-radius: 10px;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-500);
  }

  .footer-container{
    width: 100%;
    background-color: black;
  }
  .footer-title{
    font-size: 1.8rem;
    color: white;
    margin-top: -130px;
    margin-right: -5px;
  }
  .wave{
    position: relative;
    display: block;
  }
  .wave img{
    height: 600px;
    width: 100%;
    background-color: var(--neutral-100);
    display: block;
  }
  .footer-text-field{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    top: 360px;
    margin-left: -25px;
  }

  .footer-text {
    margin-top: 150px;
    align-items: center;
    margin-left: -10px;
  }

  .footer-text input{
    width: 150px;
    height: 20px;
    margin-top: 80px;
  }

  .social img{
    width: 30px;
    height: auto;
    background: none;
    margin-top: 270px;
    margin-left: -170px;
  }
  
  .footer-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .vis-mis {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: -350px;
    margin-top: 15px;
  }
  .vis-mis p{
    color: white;
    font-size: 10px;
  }
  .vis-mis h2{
    color: white;
    font-size: 20px;
  }
  .footer-text button{
    width: 70px;
    height: 20px;
    background-color: var(--primary-400);
    border: none;
  }

  .menu-container{
    width: 30vw;
    padding: 1rem;
  }
  .menu{
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--neutral-700);
  }
  .menu a{
    font-size: 12px;
    font-weight: 700;
  }
}